* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

main {
    border: 2px solid black;
    border-radius: 50px;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border: 2px solid black;
    border-radius: 50px;
    height: 35vh;
    width: 35vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section > h1, section > button {
    margin: 15px;
}

h1 {
    color: white;
}

button {
    background-color: white;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
}